/GradleSpringRest/.gradle/4.3/fileHashes/*
/GradleSpringRest/bin/com/costs/controller/CostRestController.class
/GradleSpringRest/.gradle/4.3/taskHistory/*
/GradleSpringRest/bin/com/costs/*
/GradleSpringRest/.gradle/4.3/fileHashes/*
/GradleSpringRest/.gradle/4.3/fileContent/*
